.page {
  background-color: #f5f5f5;
  min-height: 100%;
}

image {
  display: block;
}

// css 超出省略号
.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
